{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Untitled</title>
    <meta name="description" content="This is an example of a meta description.">
    <link rel="stylesheet" type="text/css" href="{% static './food/style.css' %}">
    <title>Food App</title
  </head>
  
  <body>
		{% for item in item_list %}
        <ul>
            <li>
                <a href="{% url 'food:detail' item.id  %}"> {{ item.id }} -- {{ item.item_name }}</a>
            </li>
        </ul>
        {% endfor %}
  </body>
</html>
